body {
	background-color: white;
	color: #444;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
	  Helvetica, Arial, "Lucida Grande", sans-serif;	
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.section {
	padding: 10px;
}

.btn-default {
	background-color: #38687e;
	border: 0px solid #444;
	border-radius: 5px;	
	color: white;
	font-family: "HelveticaNeue", Helvetia, Arial, "Lucida Grande", sans-serif;
	font-weight: 600;
	padding: 12px 60px;
}

.btn-default:hover {
	background-color: #163948;
	color: white;
	font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 600;
}

/* CSS FOR HOME PAGE */
.home-container {
	color: #444;
	padding: 0 20px;
	text-align: center;
}

.home-container .brand {
	height: 136px;
	margin: 0 auto 30px auto;
	padding: 0;
	width: 240px;	
}

.home-container .brand img {
	height: 136px;
	width: 240px;
}

.home-container h1 {
	color: #222;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.home-container h2 {
	color: #444;
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	margin-bottom: 30px;
}

.home-container p {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 20px;
}

.home-container p:last-child {
	margin-bottom: 0px;
}
/* CSS FOR DECISION PAGES */

.vwf-container {
	margin: 0px auto;
	max-width: 900px;
	width: 100%;
}

#banner {
	background-color: #f8f8f8;
	border-bottom: 1px solid #ccc;
	height: 55px;
}

#banner .brand {
	display: inline-block;
	margin-top: 10px;
	width: 200px;
}

#banner .brand img {
	height: 35px;
	vertical-align: middle;
	width: 60px;
}

#banner .decision-nav {
	display: inline-block;
	width: 480px;
}

#banner h1 {
	color: #222;
	font-size: 20px;
	position: relative;
	text-transform: uppercase;
	top: 4px;
	vertical-align: middles;
}

#banner .prev-next-decision {
	display: inline-block;
	position: relative;
	top: 4px;
	width: 200px;
}

#banner .prev-next-decision a {
	color: #444;	
	display: inline-block;
	font-size: 14px;
}

#banner .prev-next-decision a:first-child {
	margin-right: 20px;
}

#decision {
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
	color: #444;
	font-size: 14px;
	text-align: center;
}

.main-nav {
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;
	width: 200px;
}

.main-nav li {
	margin-bottom: 20px;
}

.main-nav li a {
	color: #38687e;
	font-size: 14px;
}

.choices {
	display: inline-block;
	width: 690px;
}

.choices p.summary {
	font-size: 14px;	
	line-height: 1.5em;
	padding: 20px 100px 20px 0;	
}

.choices ul li.choice {
	clear: left;
	margin-bottom: 30px;
	padding: 10px 0;
}

.choices ul li.choice:last-child {
	border-bottom: 0px solid #ddd;
}

.choices ul li .pic {
	float: left;
	margin-right: 24px;
	vertical-align: top;
}

.choices .pic img {
	border-radius: 50px;
	height: 60px;
	padding: 0;
	width: 60px;
}

.choices .info {
	margin-top: 10px;
	vertical-align: top;
}

.choices .info .fb-like {
	height: 57px;
	width: 225px;
}

.choices .info .endorse-button {
	border: 1px solid #38687e;
	border-radius: 4px;
	color: #38687e;
	float: right;
	padding: 4px 12px;
}

.choices .info .endorse-button-selected {
	background-color: #38687e;
	color: white;
}

.choices .info .title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.choices .info .subtitle {
	color: #aaa;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}

.choices .info .endorsement-text {
	margin-bottom: 10px;	
}

.choices .info .endorsement-text .friend-count {
	color: #38687e;
}

.choices .info .endorsement-pics {
	height: 46px;	
}

.choices .info .endorsement-pics li {
	float: left;
	width: 50px;
}

.choices .info .endorsement-pics li img {
	border: 1px solid #ddd;
	height: 46px;
	margin-right: 10px;
	width: 46px;
}

.ballot-container h1 {
	color: #222;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.ballot-container h1 img, .ballot-container .navbar-brand img  {
	border-radius: 25px;
	height: 40px;
	margin-right: 10px;
	vertical-align: middle;	
	width: 40px;
}

.ballot-container h1 span {
	vertical-align: middle;
}

.ballot-container .ballot-fb-like {	
	margin-bottom: 30px;
	margin-top: 20px;
}

.ballot-container h2 {
	font-size: 20px;
	margin-bottom: 12px;
}

.ballot-container .recommendation {
	margin-bottom: 8px;
	font-size: 16px;
}

.ballot-container .recommendation img {
	border-radius: 15px;
	height: 30px;
	vertical-align: middle;
	width: auto;
}

.ballot-container .recommendation .choice-name {
	font-weight: bold;
}

.ballot-container .ballot-decision {
	margin-bottom: 20px;
}

.ballot-container a.editComment {
	padding-left: 0;
	padding-top: 0;
	text-transform: uppercase;
}

.bottom-nav {
	background-color: #163948;	
	bottom: 0;
	padding: 60px 0;
	text-align: center;
	width: 100%;
}

.bottom-nav a {
	color: white;
	display: inline-block;
	margin-right: 50px;
}

.bottom-nav a:last-child {
	margin-right: 0;
}

@media (max-width: 900px) {
  .desktop-only {
	display: none;
  }	
  .navbar-default {
    margin-bottom: 0;	
  }
  .navbar-default .navbar-brand {
	color: #444;
    font-size: 18px;
    font-weight: bold;	
	line-height: 1em;
	max-width: 80%;
    text-transform: uppercase;
  }
  .prev-next-mobile {
	border-bottom: 1px solid #ccc;
	height: 34px;
    padding: 10px 16px;	
  }
  .prev-next-mobile a {
	color: #222;
	font-size: 14px;
  }
  .prev-next-mobile .nav-left {
    float: left;	
  }
  .prev-next-mobile .nav-right {
    float: right;	
  }
  .choices {
	width: 100%;
  }
  .choices p.summary {
	padding-left: 20px;
	padding-right: 20px;
  }
  .choices ul li.choice {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
  }
  /* Sure, turn a span tag into a block element! Welcome to hacksville. */
  .choices ul li.choice .subtitle {
	display: block;
	margin-top: 10px;
	width: 100%;
  }
  .choices ul li.choice .info {
    margin-bottom: 6px;	
  }
  .choices ul li.choice .facebook-recommend-mobile {
    margin-bottom: 20px;
	margin-top: 25px;
	width: 100%;
  }
  .bottom-nav {
    padding: 24px 0;	
  }  
  .ballot-container .choices {
    margin-left: 20px;	
  }
  .ballot-container .navbar-toggle {
	margin-top: 15px;
  }
}

@media (min-width: 901px) {
  .mobile-only {
	display: none;
  }
}